@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
    font-family: 'Poppins', Medium !important;
}

@media (max-width: 575px) {
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
    h4 {
        font-size: 14px;
    }
    p{
        font-size: 12px;
    }
    .logo__contenedor-logo{
        height: 30px;
    }
    .menu__contenedor{
        flex-direction: column;
        text-align: center;
    }
    .menu__contenedor--hamburguesa{
        position: absolute;
        top: 1%;
        right: 8%;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 1px solid #ffffff86;
        background-color: transparent;
        display: block !important;
    }
    .menu__lista__contenedor{
        display: block !important;
        width: 50% !important;
        margin: initial !important;
    }
    .menu__contenedor ul{
        flex-direction: column;
        padding: initial !important;
        margin: initial !important;
    }
 /* inicio estilos hero */
    .hero__seccion{
        width: 100%;
        height: 500px;
    }
    .hero__subTitulo p{
        font-size: 28px;
    }
    /* incio bloque 1 */
    .bloque1__seccion p {
        max-width: 784px;
    }
    .cajaImagenTextDer img{
    max-width: 50%;
    }
    .cajaImagenTextIzq img{
        max-width: 50%;
        }

    .textoImagen p{
        max-width: 540px;
    }
 }

@media (min-width: 576px) and (max-width: 672px) {
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    p{
        font-size: 14px;
    }
    .logo__contenedor-logo{
        height: 50px;
    }
    
    .menu__contenedor{
        flex-direction: column;
        text-align: center;
    }
    .menu__contenedor--hamburguesa{
        position: absolute;
        top: 1%;
        right: 8%;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 1px solid #ffffff86;
        background-color: transparent;
        display: block !important;
    }
    .menu__lista__contenedor{
        display: block !important;
        width: 50% !important;
        margin: initial !important;
    }
    .menu__contenedor ul{
        flex-direction: column;
        padding: initial !important;
        margin: initial !important;
    }
 /* inicio estilos hero */
    .hero__seccion{
        width: 100%;
        height: 500px;
    }
    .hero__subTitulo p{
        font-size: 28px;
    }
    /* incio bloque 1 */
    .bloque1__seccion p {
        max-width: 784px;
    }
    .cajaImagenTextDer img{
    max-width: 50%;
    }
    .cajaImagenTextIzq img{
        max-width: 50%;
        }

    .textoImagen p{
        max-width: 540px;
    }
 }

 @media (min-width: 673px) and (max-width: 767px) {
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    p{
        font-size: 14px;
    }
    .logo__contenedor-logo{
        height: 50px;
    }
    .menu__contenedor--hamburguesa{
        position: absolute;
        top: 1%;
        right: 8%;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 1px solid #ffffff86;
        background-color: transparent;
        display: block !important;
    }

    .menu__contenedor{
        flex-direction: column;
        text-align: center;
    }
    .menu__lista__contenedor{
        display: block !important;
        width: 50% !important;
        margin: initial !important;
    }
    .menu__contenedor ul{
        flex-direction: column;
        padding: initial !important;
        margin: initial !important;
    }
 /* inicio estilos hero */
    .hero__seccion{
        width: 100%;
        height: 500px;
    }
    .hero__subTitulo p{
        font-size: 28px;
    }
    /* incio bloque 1 */
    .bloque1__seccion p {
        max-width: 784px;
    }
    .cajaImagenTextDer img{
    max-width: 50%;
    }
    .cajaImagenTextIzq img{
        max-width: 50%;
        }

    .textoImagen p{
        max-width: 540px;
    }
 }

@media (min-width: 768px) and (max-width: 992px) {
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    p{
        font-size: 14px;
    }
    .logo__contenedor-logo{
        height: 50px;
    }
    .menu__lista__contenedor ul li{
        padding: 1% !important;
    }
 /* inicio estilos hero */
    .hero__seccion{
        width: 100%;
        height: 500px;
    }
    .hero__subTitulo p{
        font-size: 28px;
    }
    /* incio bloque 1 */
    .bloque1__seccion p {
        max-width: 784px;
    }
    .cajaImagenTextDer img{
        width: 50%;
    }
    .cajaImagenTextIzq img{
        width: 50%;
        }

    .textoImagen p{
        max-width: 540px;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    p{
        font-size: 14px;
    }
    .logo__contenedor-logo{
        height: 50px;
    }
    .menu__lista__contenedor ul li{
        padding: 1% !important;
    }
 /* inicio estilos hero */
    .hero__seccion{
        width: 100%;
        height: 500px;
    }
    .hero__subTitulo p{
        font-size: 28px;
    }
    /* incio bloque 1 */
    .bloque1__seccion p {
        max-width: 784px;
    }
    .cajaImagenTextDer img{
        width: 50% !important;
    }
    .cajaImagenTextIzq img{
        width: 50% !important;
        }

    .textoImagen p{
        max-width: 540px;
    }
}
@media (min-width: 1200px) and (max-width: 1440px) {
    /* incio menu */
    .menu__contenedor{
        height: 100px;
    }
    .logo__contenedor-logo{
        height: 100px;
    }
    .hero__subTitulo p{
        margin: 2%;
    }
    /* inicio estilos hero */
    .hero__seccion{
        width: 100%;
        height: 500px;
    }
    .hero__subTitulo p{
        font-size: 28px;
    }
    /* incio bloque 1 */
    .bloque1__seccion p {
        max-width: 784px;
    }
    .cajaImagenTextDer img{
        width: 50% !important;
    }
    .cajaImagenTextIzq img{
        width: 50% !important;
        }

    .textoImagen p{
        max-width: 540px;
    }
}
@media (min-width: 1441px) {
    h2 {
        font-size: 70px;
    }
    h3 {
        font-size: 50px;
    }
    h4 {
        font-size: 40px;
    }
    p{
        font-size: 30px;
    }
    /* incio menu */

    .logo__contenedor-logo{
        height: 150px;
    }
    .menu__lista__contenedor{

        font-size: 30px;
    }
    /* inicio estilos hero */
    .hero__seccion{
        width: 100%;
        height: 1000px;
    }

    .hero__subTitulo p{
        font-size: 28px;
    }

    /* incio bloque 1 */

    .bloque1__seccion p {
        max-width: 784px;
    }
    .cajaImagenTextDer img{
        width: 1000px !important;
        padding-right: 10%;
    }
    .cajaImagenTextIzq img{
        width: 1000px !important;
        padding-left: 10%;
    }

    .textoImagen p{
        max-width: 540px;

    }
}
  /* incio menu */

  header{
    position: fixed;
    width: 100%;
  }

  #menuHamburguesa{
      display: none
  }
.menu__contenedor{
    display: flex;
    background-color: #00142A;
    justify-content: center;
    align-items: center;
}

.menu__lista__contenedor{
    color: #FFFFFF;
    display: flex;
    margin-left: 5%;
}
.menu__lista__contenedor ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    margin: 0%;
}
.menu__lista__contenedor ul li{
    padding: 2%;
}
.menu__lista__contenedor ul li:hover{
    padding: 2%;
    margin-bottom: 2%;
    background: -webkit-linear-gradient(top bottom, #d9005a, #ffb800);
    background: linear-gradient(to top right, #d9005a, #ffb800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* inicio estilos hero */
.hero__seccion{
    background: rgb(10, 72, 138);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.hero__titulo{
padding-top: 8%;
display: flex;
}
.hero__titulo h2{
    margin-right: 4%;
    display: flex;
}
.hero__subTitulo{
    display: flex;
    justify-content: space-around;
}
.hero__subTitulo h3{
    margin: 3%
}
.hero__subTitulo h3:hover{
    margin-left: 3% ;
    margin-right: 3% ;
    margin-bottom: 3% ;
    margin-top: 3%;
    background: -webkit-linear-gradient(top bottom, #d9005a, #ffb800);
    background: linear-gradient(to top right, #d9005a, #ffb800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.hero__subTitulo p{
    margin: 3%;
}

/* incio bloque 1 */

.bloque1__seccion{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bloque1__textoSuperior hr{
background: #d9005a;
width: 20%;
height: 30%;

}
.cajaImagenTextDer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cajaImagenTextIzq{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bloque2__seccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.textoImagen {
 margin: 5%;
}