@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
    font-family: 'Poppins', Medium !important;
}

.navbarLogo{
    height: 78px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00142a;
    color: #e4e2e2 !important;
    height: 115px;

}
.nav-link{
    color: #e4e2e2 !important
}
.nav-link:hover{
    color: #ffbd00 !important
}
.colorIcono{
    color: #e00059 !important;
}
.inicio__contenedor{
    height: 542px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inicio_contenedor-Titulo{
    align-items: center;
    justify-content: center;
}
.imagenesContenido{
    max-width: 60% !important;
}
.textoFinalCaja{
    align-items: flex-end !important;
    justify-content: flex-end;
    display: flex;
}