@import '../global.scss';

.BlockImg{
  display: flex;
  justify-content: space-around;
  padding: 10% 10% 0 10%;
  &__contenido{
    padding-right: 5%;
  }
}
.BlockImg--izq{
  flex-direction: row-reverse;
  &__contenido{
    padding-left: 5%;
  }
}