@import '../global.scss';

.Clients{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  padding: 10%;

}

.contenedor--img{
  display: flex;
  justify-content: space-around;
  padding: 1%;
};