@import '../global.scss';

.Footer{

  &__bg{
    width: 100%;
    position: absolute;
    z-index: -1;
  }
  &__contenido{
    font-size: 14px;
    padding-top: 5%;
    text-align: center;
    color: $color-claro;
    & p{
      margin: 1%;
    }
  }
}