@import '../global.scss';

.Header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top:0;
    width: 100vw;
    z-index: 1040;
    &__Hamburger{
        @extend .centradoFlex;
        &_img, &_text{
            padding: 5%;
        }
    }
    &__Logo{
        @extend .centradoFlex;
        &_title{
            display: none;
        }  
    }
    &__lenguaje{
        @extend .centradoFlex;
        &_img, &_text{
            padding: 5%;
        }
    }
}