@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


/* variables  */

$color-primario: #FD9F64;
$color-segundario: #FF004F;
$color-claro: #ffffff;
$color-oscuro: #000000;
$color-oscuro-opacidad: #0000007e;
$color-claro-opacidad: #ffffff7e;
$font-primaria: 'Poppins', sans-serif;
$font-size-primaria: 10px;
$size-sombra: 0px 8px 22px 0px;

.centradoFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.degragadoColor{
    background: $color-primario;
    background: -moz-linear-gradient(top, $color-primario 0%, $color-segundario 100%);
    background: -webkit-gradient(top, left bottom, color-stop(0%, $color-primario), color-stop(100%, $color-segundario));
    background: -webkit-linear-gradient(top, $color-primario (0%, $color-segundario) 100%);
    background: -o-linear-gradient(top, $color-primario 0%, $color-segundario 100%);
    background: -ms-linear-gradient(top, $color-primario 0%, $color-segundario 100%);
    background: linear-gradient(top, $color-primario 0%, $color-segundario 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-primario', endColorstr='$color-segundario', GradientType=0 );

}

.sombraOscura{
    -webkit-box-shadow: $size-sombra $color-oscuro-opacidad;
    -moz-box-shadow: $size-sombra $color-oscuro-opacidad;
    box-shadow: $size-sombra $color-oscuro-opacidad;
}

.sombraClara{
    -webkit-box-shadow: $size-sombra $color-claro-opacidad ;
    -moz-box-shadow: $size-sombra $color-claro-opacidad;
    box-shadow: $size-sombra $color-claro-opacidad;
}

body{
    margin: 0%;
    padding: 0%;
    color: $color-oscuro;
    font-family: $font-primaria;
    font-size: $font-size-primaria;
}

@each $header, $size in (h2: 35px, h3: 20px, h4:16px) {
    #{$header} {
          font-size: $size;
          margin: 0;
    }
  };